:root {
    --bg-color: #dedbdb;
    --inverted-bg-color:#252525;

    --primary-color: #000000;
    --secondary-color: #900c0c;

    --inverted-primary-color:#f57700;
    --inverted-secondary-color:#ffb804;
}
